/* Home page style */

.slide-show {
    display: flex;
    overflow: hidden;
    margin-top: 6rem;
}

.slide-show img {
    position: relative;
    left: -20rem;
}

.home-content-text {
    background-color: #88613b;
    color: white;
    text-align: center;
    padding: 2.5rem 1.5rem;
    filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.16));
}

.home-content-text .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.home-content-text .text {
    font-size: 15px;
}

.home-content-our-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1.5rem;
}

.home-content-our-project .title {
    display: flex;
    justify-content: start;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.home-content-our-project .title p {
    border-bottom: 2px solid #88613b;
}

.home-content-our-project .text {
    font-size: 12px;
    padding: 1.5rem 0;
}

.project-images {
    display: flex;
    flex-wrap: wrap;
}

.images-wrapper {
    display: flex;
    overflow: hidden;
    width: 50%;
    position: relative;
}
.images-wrapper:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
        72,
        72,
        72,
        0.5
    ); /* Replace with your desired color */
    z-index: 1;
    border: 4px solid #ba8a5a;
    box-sizing: border-box;
}
.images-wrapper i.fa-eye {
    position: absolute;
    bottom: 0.2rem;
    right: 0.2rem;
    background-color: #ba8a5a;
    color: white;
    padding: 0.3rem;
    font-size: 1rem;
    visibility: hidden;
    z-index: 2;
}
.images-wrapper:hover i.fa-eye {
    visibility: visible;
}
.images-wrapper a {
    display: flex;
    overflow: hidden;
    width: 100%;
}
.images-wrapper img {
    width: 100%;
}


.about-us {
    position: relative;
}

.about-us .image {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.about-us .image img {
    width: 100%;
    position: relative;
}

.about-us .image {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.info-about {
    position: absolute;
    top: 19%;
    left: 17.5%;
    width: 82.5%;
}

.text-about-us {
    background-color: #88613bc1;
    color: white;
    padding: 2rem;
}

.text-about-us .title {
    font-size: 11px;
    font-weight: bold;
    padding: 1rem 0;
}

.text-about-us .text {
    font-size: 12px;
}

.home-content-news {
    display: flex;
    padding: 2rem 1rem;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.news-card {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0.2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 0.2rem;
}

.card-image {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.card-image img {
    width: 100%;
}

.news-card .info-text {
    font-size: 11px;
    padding: 0.3rem 0;
    color: #878787;
}

.news-card .more-info {
    margin-top: -1rem;
    padding-bottom: 0.4rem;
}

.news-card .more-info button {
    margin-left: 20%;
    font-size: 11px;
    transition: margin-left 0.3s ease;
}

.news-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.news-card:hover .more-info button {
    margin-left: 0;
}

.news-card:hover .card-info {
    transform: translateY(5px);
    transition: transform 0.3s ease;
}

.news-card:hover .info-text {
    color: #333333;
}

.news-card:hover .card-image {
    padding-top: 0;
}

.news-card:hover .card-image img {
    transform: scale(1.05);
}
.contact-form {
    background-color: #ba8a5a;
    color: white;
    padding: 2rem 1.5rem;
}

form {
    border: 6px solid white;
    filter: drop-shadow(20px 20px 5px rgba(2, 2, 2, 0.1));
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
}

.form-control {
    display: flex;
    width: 100%;
    padding: 1rem 0;
}

input,
button {
    width: 100%;
    padding: 0.5rem 0;
}

input {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
}

input::placeholder,
input {
    color: white;
}

.form-title {
    display: flex;
}

.form-title h4 {
    border-bottom: 2px solid white;
    padding: 0 0.8rem 0.4rem 0;
}
.form-control .btn-wrapper {
    display: flex;
    width: 100%;
}
.form-control button {
    border-radius: 30px;
    background: #ffffff;
    border: none;
}

/************************
        Media Query 
*************************/
/* Mobile screen (320=>780px) */
@media only screen and (min-width: 350px) {
    .info-about {
        top: 24%;
    }

    .text-about-us {
        padding: 2.5rem;
    }
}

@media only screen and (min-width: 425px) {
    .info-about {
        top: 30%;
    }

    .text-about-us {
        padding: 3rem;
    }

    form {
        padding: 1rem;
    }

    .news-card .more-info button {
        margin-left: 30%;
    }
}

@media only screen and (min-width: 500px) {
    .slide-show {
        display: flex;
        overflow: hidden;
        margin-top: 6rem;
    }

    .slide-show img {
        position: relative;
        left: -20rem;
    }

    .images-wrapper {
        display: flex;
        overflow: hidden;
        width: 33%;
    }

    .news-card {
        width: 30%;
    }

    .text-about-us .title {
        font-size: 15px;
        font-weight: bold;
        padding: 1rem 0;
    }

    .text-about-us .text {
        font-size: 15px;
    }
}

@media only screen and (min-width: 700px) {
    .slide-show {
        width: 100%;
    }

    .slide-show img {
        width: 100%;
        left: 0;
    }

    .info-about {
        top: 30%;
    }

    .text-about-us {
        padding: 3rem;
    }

}

/* Tablet screen (780=>1024px) */


@media only screen and (min-width: 750px) {
    .home-content-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .home-content-row {
        display: flex;
        flex-direction: column;

        width: 100%;
    }
    .images-wrapper {
        width: 25%;
    }

    .news-card {
        flex-direction: row;
        width: 46%;
    }

    .card-image {
        width: 25rem;
        padding: 0 0.4rem;
    }

    .news-card .card-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .news-card .more-info button {
        margin-left: 50%;
    }
}

@media only screen and (min-width: 800px) {
    .home-content-text {
        padding: 5% 10%;
    }
    .home-content-project-container {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .home-content-our-project {
        align-items: start;
    }
    .home-content-our-project .text {
        width: 50%;
    }
    .home-content-our-project .more-info {
        width: 100%;
    }
    .home-content-our-project .more-info button {
        width: 15%;
    }
    .project-images {
        width: 100%;
    }
    .images-wrapper {
        width: 20%;
    }

    .card-container {
        width: 90%;
    }

    .contact-form {
        padding: 8%;
    }

    form {
        padding: 10%;
    }
    .images-wrapper i.fa-eye {
        padding: 0.4rem;
        font-size: 1.3rem;
    }
}

/* Laptop screen */
@media only screen and (min-width: 1000px) {
    .home-content-our-project {
        width: 85%;
    }
    .home-content-text {
        padding: 8%;
    }

    .card-container {
        width: 93%;
    }

    .contact-form {
        padding: 8% 7%;
    }



    form {
        padding: 8%;
    }
    .form-control .btn-wrapper {
        display: flex;
        width: 8rem;
    }
    .form-title h4 {
        font-size: xx-large;
        margin-bottom: 4rem;
    }
    .images-wrapper:hover::before {
        border: 6px solid #ba8a5a;
    }
}

@media only screen and (min-width: 1150px) {
    .card-container {
        width: 90%;
    }
    .card-info .info-title {
        font-size: 19px;
    }
    .card-info .info-text {
        font-size: 13px;
    }
    .card-image {
        width: 20rem;
    }

}

@media only screen and (min-width: 1300px) {
    .card-container {
        width: 95%;
    }
    .card-info .info-title {
        font-size: 21px;
    }
    .card-info .info-text {
        font-size: 15px;
    }
    .card-image {
        width: 25rem;
    }
    .news-card .more-info button { 
        font-size: 13px;
    }
    .images-wrapper i.fa-eye {
        padding: 0.6rem;
        font-size: 1.7rem;
    }
}
